* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    background-image: url(../../src/geometry_for_noobs/back_main.svg);
    background-size: 120%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: auto;
    min-height: 100vh;
}

.main {
    flex-grow: 1;
    justify-content: center;
    width: 100%;
    max-width: 102.4rem;
    height: auto;
    margin: 0 auto;
    padding-top: 4.8rem;
    padding-bottom: 2rem;
}

.main__ttl {
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 5rem 0;
}

.main__ttl > h1 {
    font-size: 2.4rem;
}

.main__ttl > p {
    margin-top: 1.6rem;
}

.main__avgs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding-top: 2rem;
}

.avgs {
    width: 90%;
    max-width: 50rem;
    height: auto;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 2rem 2rem;
    border-radius: 2rem;
}

.avgs__arithmetic {
    background-color: darkolivegreen;
    color: white;
}

.avgs__median {
    background-color: darkslategrey;
    color: white;
}

.avgs__moda {
    background-color: chocolate;
    color: white;
}

.form {
    width: 100%;
    height: auto;
    margin-top: 2rem;
}

.form > p {
    margin-top: 1.2rem;
}

.form > label {
    margin-top: 1.2rem;
}

.form > label span {
    display: block;
    margin-top: 1.2rem;
}

.form > label input {
    width: 100%;
    height: 3.2rem;
    margin-top: .8rem;
    padding: .8rem 1rem;
    font-size: 1.6rem;
    line-height: 1.6rem;
    border-radius: .8rem;
    border: none;
}

.form__butt {
    display: flex;
    justify-content: space-between;
}

.form__butt > button {
    width: 48%;
    height: 4rem;
    margin-top: 1.2rem;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    border-radius: 1rem;
    border: none;
}

.arth__butt > button {
    background-color: rgb(122, 131, 106);
    color: white;
}

.med__butt > button {
    background-color: rgb(77, 105, 105);
    color: white;
}

.moda__butt > button {
    background-color: rgb(240, 163, 108);
    color: white;
}

.values {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

.values > h3 {
    display: block;
    margin-top: 1.2rem;
}

.values > p {
    font-weight: 300;
}

.calc {
    width: 100%;
    height: auto;
    margin-top: 1.2rem;
}

.calc > button {
    width: 100%;
    height: 4rem;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    border-radius: 1rem;
    border: none;
}

.arth__calc > button {
    background-color: rgb(122, 131, 106);
    color: white;
}

.med__calc > button {
    background-color: rgb(77, 105, 105);
    color: white;
}

.moda__calc > button {
    background-color: rgb(240, 163, 108);
    color: white;
}

.result {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

.result > h3 {
    display: block;
    margin-top: 1.2rem;
}

.result > p {
    font-weight: 300;
}

.footer {
    position: relative;
    display: flex;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 4.8rem;
}

.footer__sect {
    width: 90%;
    max-width: 102.4rem;
    height: auto;
    margin: 0 auto;
    text-align: right;
}